<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}"/>
</head>
<body>
{% include 'layout.html' %}
<h1>About</h1>
<p>TSF Bank is the most trusted bank at your service. We connect with people ensuring security and integrity of service.
    Founded in 2018, it is trusted by over 20 million individuals and organisations accross India.
    We provide our customers with various services through 2000 branches accross India.To know more, join our fast- growing
family by visiting your nearest TSF bank branch or by contacting us through email or phone.</p>
</body>
</html>