<html lang="en">
<body>
<div id="main">
        <nav>
            <div class="name">TSF BANK</div>
            <ul>
                <li>
                    <a href="/"><i class="fa fa-home" style="font-size:16px;"></i> Home</a></li>
                <li>
                    <a href="/about"><i class="fa fa-address-book" style="font-size:16px;"></i> About Us</a></li>
                <li>
                    <a href="/contact"><i class="fa fa-phone" style="font-size:16px;"></i> Contact Us</a></li>
                <li>
                    <a href="/services"><i class="fa fa-bars" style="font-size:16px;"></i> Services</a></li>

            </ul>
        </nav>
</div>
</body>
</html>